body {
  width: 100%;
  min-height: 100vh;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.navbar {
  background-color: #fff;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-search {
  display: flex;
  flex: 1;
}

.form-control {
  border-radius: 0;
}

.nav-pills {
  display: flex;
}

.nav-pills .navbar-brand img {
  margin: 0 10px;
}
.col-md-3 {
 
  color: black;
}
.red{
  color: rgb(255, 0, 0);
}
